@page "/"
@using AdministrationWebApplication.Components.Incoming
@using AdministrationWebApplication.Components.Shared
@using AdministrationWebApplication.Pages
<h1>Showcase page</h1>
<CraR0121001 FlowKeyId="1" NumberOfColumns="3" />
<FlowSummaryTable TransitType="In" />
    @*<FileProcessingDetails />*@
@*<CraR0121001 FlowKeyId="1" NumberOfColumns="3" />
<CraR0121001 FlowKeyId="1" NumberOfColumns="3" />*@

@code{



}